  <table class="table table-hover">
      <thead>
        <tr>
          <th><%= _t 'Name' %></th>
          <th><%= _t 'Distance' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for d in @rides do %>
        <tr>
          <td>
            <%= d.name %><br/><%= d.status%>
          </td>
          <td class="text-center" dir="ltr">
            <h4><%= d.distance %> km</h4>
          </td>
          <td class="text-end">
         <div>
            <a href="/taxi_app/ride?id=<%=d.id%>" type="button" class="btn btn-flat-primary btn-icon">
                <i class="fa-solid fa-thumbs-up"></i>
            </a>
            <button type="button" class="btn btn-flat-danger btn-icon">
              <i class="fa-solid fa-thumbs-down"></i>
            </button>
            <button type="button" class="btn btn-flat-info btn-icon">
              <i class="fa-solid fa-map"></i>
            </button>
        </div>
          </td>
           
        </tr>
        <% end %>
      </tbody>
    </table>
  