<div id="<%= dom_id device %>">
  <p>
    <strong>Kind:</strong>
    <%= device.kind %>
  </p>

  <p>
    <strong>User:</strong>
    <%= device.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= device.settings %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= device.type %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= device.model %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= device.driver_id %>
  </p>

  <p>
    <strong>Last location:</strong>
    <%= device.last_location %>
  </p>

  <p>
    <strong>Last location at:</strong>
    <%= device.last_location_at %>
  </p>

  <p>
    <strong>Recent message:</strong>
    <%= device.recent_message %>
  </p>

  <p>
    <strong>System message:</strong>
    <%= device.system_message %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= device.error_id %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= device.avatar %>
  </p>

  <p>
    <strong>Ssid:</strong>
    <%= device.ssid %>
  </p>

</div>
