<div id="<%= dom_id device_kind %>">
  <p>
    <strong>Device:</strong>
    <%= device_kind.device_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= device_kind.kind_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= device_kind.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= device_kind.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= device_kind.price %>
  </p>

  <p>
    <strong>Descriptio:</strong>
    <%= device_kind.descriptio %>
  </p>

</div>
