<% @page_header =  "Device Kinds "%>
<div class="row">
  <div class="col-lg-12">
    <div class='card'>
      <div class='card-header'>
        <div class='card-title'>
          <h6>
            <i class= "fas fa-home"></i>
            <%= "Device Kinds" %>
          </h6>
        </div>
      </div>
      <div class='card-body scrollable'>
        <table class="table table-condensed table-striped datatable">
          <thead>
            <tr>
                              <th><%= "Device"  %></th>
                              <th><%= "Kind"  %></th>
                              <th><%= "Name"  %></th>
                              <th><%= "Image url"  %></th>
                              <th><%= "Price"  %></th>
                              <th><%= "Descriptio"  %></th>
                            <th class='actions-th' ></th>
            </tr>
          </thead>
          <tbody>
            <% @device_kinds.each do |device_kind| %>
            <tr>
                              <td><%= device_kind.device_id %></td>
                              <td><%= device_kind.kind_id %></td>
                              <td><%= device_kind.name %></td>
                              <td><%= device_kind.image_url %></td>
                              <td><%= device_kind.price %></td>
                              <td><%= device_kind.descriptio %></td>
                            <td class="text-end">
                <div class="dropdown">
                  <a href="#" class="text-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end" style="">
                    <a href="" class="dropdown-item">
                      <i class="fa-solid fa-pencil"></i>
                      &nbsp; עריכה
                    <a href="#" class="dropdown-item">
                      <i class="fa-solid fa-pencil"></i>
                      &nbsp; מחיקה
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


