<div id="<%= dom_id ticket %>">
  <p>
    <strong>Driver:</strong>
    <%= ticket.driver_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= ticket.kind %>
  </p>

  <p>
    <strong>Opened at:</strong>
    <%= ticket.opened_at %>
  </p>

  <p>
    <strong>Closed at:</strong>
    <%= ticket.closed_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

</div>
