<div id="<%= dom_id passenger %>">
  <p>
    <strong>Ride:</strong>
    <%= passenger.ride_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= passenger.image_url %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= passenger.rating %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= passenger.driver_id %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= passenger.device_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= passenger.status %>
  </p>

</div>
