<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= driver.device_id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= driver.starts_at %>
  </p>

  <p>
    <strong>Last message:</strong>
    <%= driver.last_message %>
  </p>

  <p>
    <strong>Last location:</strong>
    <%= driver.last_location %>
  </p>

  <p>
    <strong>Locationed at:</strong>
    <%= driver.locationed_at %>
  </p>

</div>
