
<%= simple_form_for(@driver) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :device_id %>
    <%= f.input :starts_at %>
    <%= f.input :last_message %>
    <%= f.input :last_location %>
    <%= f.input :locationed_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
