<div id="<%= dom_id activity %>">
  <p>
    <strong>User:</strong>
    <%= activity.user_id %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= activity.driver_id %>
  </p>

  <p>
    <strong>Ride:</strong>
    <%= activity.ride_id %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= activity.device_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= activity.level %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= activity.message %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= activity.settings %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= activity.speed %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= activity.heading %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= activity.status %>
  </p>

</div>
