<% @page_header = "Activity info" %>
<div class="row">
  <div class="col-lg-4">
    <div class='card'> 
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class='card-header'>
        <br/>
        <br/>
        <i class="fas fa-user-circle fa-3x"></i>
        <h3 class="">@account.ib_account_id  </h3>
        <h5 class="widget-user-desc">@account.account_type</h5>
        <button class="btn btn-warning"> <i class="fa fa-phone"></i> </button>
        <%= link_to raw("<i class='fa fa-calendar'></i> "), "", :class => "btn btn-success followup-dialog"  %>
        <!-- Tickets -->
        <div class="btn-group">
          <button type="button" class="btn btn-info"><i class="fa fa-envelope"></i> </button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          &nbsp;
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="row">
          
                      
              
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header text-bold"><%= @activity.user_id %></h5>
                  <span class="description-text">User </span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
                                  
              
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header text-bold"><%= @activity.driver_id %></h5>
                  <span class="description-text">Driver </span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
                                  
              
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header text-bold"><%= @activity.ride_id %></h5>
                  <span class="description-text">Ride </span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
                                                                                                                                                                                                              </div>
        <br/>
        <br/>
        <!-- /.row -->
      </div>
      <div class="card-footer">
                  <ul class="nav nav-stacked">
            <li><a href="#">User <span class="pull-right"> <%= @activity.user_id %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Driver <span class="pull-right"> <%= @activity.driver_id %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Ride <span class="pull-right"> <%= @activity.ride_id %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Device <span class="pull-right"> <%= @activity.device_id %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Level <span class="pull-right"> <%= @activity.level %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Message <span class="pull-right"> <%= @activity.message %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Settings <span class="pull-right"> <%= @activity.settings %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Location <span class="pull-right"> <%= @activity.location %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Speed <span class="pull-right"> <%= @activity.speed %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Heading <span class="pull-right"> <%= @activity.heading %></span></a></li>
          </ul>
                  <ul class="nav nav-stacked">
            <li><a href="#">Status <span class="pull-right"> <%= @activity.status %></span></a></li>
          </ul>
              </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class=card-body">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
            <li><a href="#info" data-toggle="tab">Info </a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
            </div>
            <div class="tab-pane" id="trades">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
