<div id="<%= dom_id ride %>">
  <p>
    <strong>Driver:</strong>
    <%= ride.driver_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= ride.customer_id %>
  </p>

  <p>
    <strong>From location:</strong>
    <%= ride.from_location %>
  </p>

  <p>
    <strong>From address:</strong>
    <%= ride.from_address %>
  </p>

  <p>
    <strong>Accpeted at:</strong>
    <%= ride.accpeted_at %>
  </p>

  <p>
    <strong>Arrived to customer at:</strong>
    <%= ride.arrived_to_customer_at %>
  </p>

  <p>
    <strong>Dropped at:</strong>
    <%= ride.dropped_at %>
  </p>

  <p>
    <strong>Drop location:</strong>
    <%= ride.drop_location %>
  </p>

  <p>
    <strong>Pickup location:</strong>
    <%= ride.pickup_location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ride.status %>
  </p>

  <p>
    <strong>Error message:</strong>
    <%= ride.error_message %>
  </p>

</div>
