<!DOCTYPE html>
<html lang="he" dir="ltr" class="layout-static">
  <head>
    <title><%= content_for(:title) || "Dalore ImpactKYC" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>






<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="ImpactKYC">
<meta name="apple-mobile-web-app-title" content="ImpactKYC">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/02d4d4b7a0.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag :app %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>

    <%#= javascript_importmap_tags %>

    <script
      src="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/index.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/css/icons.min.css"
      rel="stylesheet"
    >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href= 'assets/favicon/favicon-32x32.png'
    >
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    >
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#202125">
    


    <title>אימפקט בית השקעות</title>
    <!-- Global stylesheets -->
    <%= render "/layouts/css" %>
    <!-- /global stylesheets --> <!-- Core JS files -->
    <%= render "/layouts/js" %>
   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap"
      rel="stylesheet"
    >
  

    <style>
        body , h1, h2, h3, h4, h5, h6,p {
          font-family: "Assistant", sans-serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: normal;
        }

        .border-right{
          border-right:2px solid #F1f1f1
        }
        .text-bold{
          font-weight: bold;
        }

        .scrolabble{
          height: calc(100vh - 130px);
          box-sizing: border-box;
           overflow-y: auto;
          }
        

        .dark{
          background-color: #08090a;
        }
        .light{
          background-color: #FFF;
        }

    </style>

  </head>

  <% if current_user.nil?
    schema = "light"
  else
    schema = current_user.schema
  end %>
  <body data-color-theme="<%= schema %>">
    <%= render "/layouts/mobile_topbar" unless current_user.nil? %>
    <!-- Page content -->
    <div class="page-content">
      <%= render "/layouts/mobile_en_sidebar" unless current_user.nil? %>
      <!-- Main content -->
      <div class="content-wrapper" dir="rtl">
        <!-- Inner content -->
        <div class="content-inner scrolabble">
          <%= yield :page_header %>
          <!-- Content area -->
          <div class="content bg-silver ">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom  <%= schema %> mb-0 mt-0 pt-0"  dir="rtl">
      
      <div class="container">
        <div class="row mt-1 mb-1">
          <div class="col-3 text-center ">
            <a href="/driver/home">
              <i class="fas fa-home"></i><br/>
              ראשי
              </a>
          </div>
          <div class="col-3 text-center">
              <a href="/driver/rides">
                <i class="fas fa-briefcase"></i><br/>
                נסיעות
              </a>
          </div>
          <div class="col-3 text-center">
               <a href="/driver/messages">
                <i class="fas fa-calendar"></i><br/>
                הודעות
              </a>
          </div>
          <div class="col-3 text-center">
            <a href="/driver/settings">
              <i class="fas fa-cogs"></i><br/>
              הגדרות
              </a>
          </div>
        </div>
      </div>
    </footer>
    <script>
		$(".datatable").DataTable();
    </script>
  </body>
</html>
